@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/bluelmin-benedict');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

* {
    font-family: "Montserrat", sans-serif !important;
    color:white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

.sponsor-title {
    font-family: "Bluelmin Benedict", sans-serif !important;
}

.img-after-border {
    position: relative;
    display: inline-block;
}

.img-after-border::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border: 2px solid white;
    bottom: -10px;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}